.Results {
    height: 100vh;
    z-index: 1;
    margin: 5rem 3rem 0 3rem;
    display: grid;
    grid-template: auto 1fr / 1fr;
    grid-template-areas:
        'nav'
        'cards';
    gap: 3rem;
    margin-bottom: 10rem;
}
.navbar {
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;
    justify-content: space-between;
    grid-area: nav;
}
@media only screen and (max-width: 930px) {
    .searchbar {
        margin-bottom: 2rem;
    }
    .navbar {
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
    }
}
