.Results {
    height: 100vh;
    z-index: 1;
    margin: 5rem 0 0 0;
    display: grid;
    grid-template: auto 1fr / 1fr;
    grid-template-areas:
        'nav'
        'cards';
    gap: 3rem;
    margin-bottom: 10rem;
}
.Results .navbox {
    display: flex;
    /* padding: 0 2rem 0 2rem; */
    align-items: center;
    justify-content: center;
    grid-area: nav;
}
.Results .navbar {
    display: flex;

    width: 90%;

    /* padding: 0 2rem 0 2rem; */
    align-items: center;
    justify-content: space-between;
}
@media only screen and (max-width: 930px) {
    .Results .searchbar {
        margin-bottom: 2rem;
    }
    .Results .navbar {
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
    }
}
