.header {
  background-color: white;
  /* border-bottom: 2px solid rgba(0, 0, 0, 0.2); */
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.322);
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
}
.container {
  /* width: 80%; */
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 5rem 0 5rem;
}
.header h1 {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0.77rem 0;
  color: black;
  text-align: left;
  font-size: 1rem;
}
.header button {
  background-color: white;
  border: none;
}
.header button:hover {
  color: blue;
  text-shadow: 0.2px 0.2px black;
}

.Information {
  z-index: 1;
  margin: 5rem 3rem 0 3rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 10rem;
}
.navbar {
  display: flex;
  padding-left: 2rem;
  padding-right: 1rem;
  justify-content: space-between;
  margin-bottom: 5%;
}
.navbar button {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.232);
  border: white solid 1px;
  border-radius: 7px;
  width: 140px;
  height: 40px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar button:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.354);
}
.flaginfo {
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
}
.flaginfo img {
  aspect-ratio: 16/9;
  height: 40vh;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.354);
}
.flaginfo .info {
  height: auto;
  width: 50%;
  padding: 1rem;
  padding-left: 2rem;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.flaginfo h4 {
  line-height: 4rem;
}
.flaginfo .detail {
  width: 100%;
  display: flex;
  justify-content: space-between;
  line-height: 1.6rem;
}
.flaginfo ul {
  width: 50%;
  font-size: small;
}
.flaginfo .refers {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}
.flaginfo h5 {
  width: 10rem;
  font-size: small;
}
.flaginfo .links {
  padding-left: 2rem;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: 3vw;
  grid-template-columns: repeat(auto-fit, 7vw);
  grid-auto-rows: 3vw;
  grid-auto-columns: repeat(3, 7vw);
  gap: 1rem;
}
.flaginfo .links button {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.232);
  border: white solid 1px;
  font-size: 1vw;
  border-radius: 7px;
  background-color: white;
}

.flaginfo .links button:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.354);
}

@media only screen and (max-width: 1000px) {
  .flaginfo {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
  }
  .flaginfo .detail {
    flex-direction: column;
  }
  .flaginfo .refers {
    flex-direction: column;
  }
  .flaginfo h5 {
    width: auto;
    margin-bottom: 29%;
  }
}
